p, button {
    display: block;
}
#container{
    display: flex;
}
#img{
    max-width: 500px;
    object-fit: cover;
}

#dialog{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    
    height: 400px;
    padding-left: 40px;
}